.cq-inputdate{
  width: 130px;
}
.cq-inputdatetime{
  width: 180px;
}
.ud-inputdate{
  width: 140px;
}
.ud-inputdatetime{
  width: 180px;
}
.el-form-item__label_group {
  text-align: left;
  float: left;
  font-size: 14px;
  font-weight: bold;
  color: #003aff;
  background-color: #eeeeee;
  line-height: 34px;
  padding: 0 12px 0 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding-left: 10px;
  border-radius: 4px;
  margin-bottom: 5px;
}
.elform {
  padding: 0 5px
}
.elform .form-table-main {
  background: #fff;
  border: 1px solid #B6BFFF;
  clear: both;
  width: 100%;
  margin-bottom: 10px;
}
.elform .form-table-main .table-label {
  background-color: #f7f8ff;
  height: 58px;
}
.elform .form-table-main td{
  padding: 0 10px;
  border-right: 1px solid #b6bfff;
  border-bottom: 1px solid #b6bfff;
  height: 58px;
}
.elform .form-table-main tr td:last-child{
  border-right: 0;
}
.elform .form-table-main tr:last-child td{
  border-bottom: 0;
  height: 58px;
}
.elform .form-table-main tr .form-table-child {
  background: #fff;
  border: 0px;
  clear: both;
  width: 100%;
}
.elform .form-table-main tr .form-table-child td{
  padding: 0 10px;
  border-right: 1px solid #b6bfff;
  border-bottom: 1px solid #b6bfff;
}
.elform .form-table-main tr .form-table-childtd{
  padding: 0;
}

.elform .form-table-main tr .form-table-child tr:last-child td{
  border-bottom: 0;
}
.elform .form-table-main tr .form-table-child tr td:last-child{
  border-right: 0;
}
.elform .label {
  text-align: left;
  float: left;
  font-size: 15px;
  color: #606266;
}
.el-form-item--mini.el-form-item, .el-form-item--small.el-form-item {
  margin-top: 14px;
  margin-bottom: 14px;
}
.elform .form-required {
  color: red;
  padding-left: 3px;
  font-weight: bold;
  font-size: 13px;
  vertical-align: middle;
}
.cq-el-check {
  padding-left: 5px;
}
.ud-el-check {
  padding-left: 8px;
}
.address-row {
  border: 1px solid #cccccc;
  width: 100px;
  height: 40px;
  margin: 5px 5px;
  border-radius: 8px;
  padding: 5px 5px;
  float: left;
  cursor:pointer;
}
.address-row-selected {
  background: #f0f0f0;
  color: #3a8ee6;
  font-weight: bold;
}

/*input::-webkit-outer-spin-button,*/
/*input::-webkit-inner-spin-button {*/
  /*-webkit-appearance: none !important;*/
  /*margin: 0;*/
/*}*/
/*.el-input input {*/
  /*-webkit-appearance: none;*/
  /*margin: 0;*/
/*}*/

.el-form-item__label_text {
  text-align: left;
}

.el-form-item {
   margin-bottom: 0;
}

